flake8==6.1.0
mypy~=1.8.0
black~=24.3.0
types-requests==2.31.0.2
pytest==7.4.0
pytest-order==1.1.0
pytest-timer[termcolor]==1.0.0
pytest-sugar==1.0.0
retry==0.9.2
pre-commit==2.20.0
deepdiff==6.2.1
pytest-cov==4.0.0
twine==4.0.2
types-retry==0.9.9.3
nanoid==2.0.0
networkx-stubs==0.0.1
