{%- for attribute_def in attribute_defs %}
{%- set type = attribute_def.typeName | get_mapped_type %}
{%- set search_type = attribute_def | get_search_type %}
{%- set attr_name = attribute_def.name | to_snake_case %}
{%- set class_var = attribute_def.name | get_class_var_for_attr %}
{%- set instance_name = entity_def_name | to_snake_case %}

{%- if type.container %}
??? reln-multiple "{{attr_name}}"
{%- else %}
??? reln-single "{{attr_name}}"
{%- endif %}

    ```python linenums="1" title="{{attribute_def.description | default('TBC',true)}}"
    {%- if type.container == "Dict[" or type.container == "Set[" %}
    builder.{{attr_name}} = {...}  # (1)
    {%- elif type.container == "List[" %}
    builder.{{attr_name}} = [...]  # (1)
    {%- else %}
    builder.{{attr_name}} = ...  # (1)
    {%- endif %}
    {{instance_name}}.{{attr_name}}  # (2)
    ```

    1. Add a `{{attr_name}}` relationship{% if type.container%}s{% endif %} from `{{entity_def_name}}` to `{{type.name}}`{% if type.container%}s{% endif %}.

        !!! details "For more details"
            For more information, see the asset CRUD snippets on either [creating](../../snippets/advanced-examples/create.md) or [updating](../../snippets/advanced-examples/update.md) assets.

    2. Retrieve the `{{attr_name}}` from a `{{entity_def_name}}`.

        !!! details "For more details"
            For more information, see the asset CRUD snippets on [retrieving](../../snippets/advanced-examples/read.md) assets.
{% endfor %}
