{%- for attribute_def in struct_def.attribute_defs %}
{%- set type = attribute_def.type_name | get_mapped_type %}
{%- set attr_name = attribute_def.name | to_snake_case %}
{%- set instance_name = struct_def.name | to_snake_case %}
{%- if type.attr_type == "ENUM" %}
??? type-enum "{{attr_name}}"
{% elif type.attr_type == "STRUCT" %}
??? type-struct "{{attr_name}}"
{% elif type.container and type.container == "Dict[" %}
??? type-map "{{attr_name}}"
{% else %}
??? type-{{type.original_base}} "{{attr_name}}"
{% endif %}

    ```python linenums="1" title="{{attribute_def.description | default('TBC',true)}}"
    {{instance_name}}.{{attr_name}} = ...  # (1)
    {{instance_name}}.{{attr_name}}  # (2)
    ```

    1. Set the `{{attr_name}}` for a `{{struct_def.name}}`.

        !!! details "For more details"
            For more information, see the asset CRUD snippets on either [creating](../../snippets/advanced-examples/create.md) or [updating](../../snippets/advanced-examples/update.md) assets.

    2. Retrieve the `{{attr_name}}` from a `{{struct_def.name}}`.

        !!! details "For more details"
            For more information, see the asset CRUD snippets on [retrieving](../../snippets/advanced-examples/read.md) assets.

{% endfor %}
