apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ pkg.name }}
data:
  config: |-
    {
      "properties": {
{%- for key, value in pkg.ui_config.properties.items() %}
        "{{ key }}": {
          "type": "{{ value.type_ }}",
          "required": {{ value.required | tojson}},
    {%- if value.possible_values %}
          "enum": [ {%- for val in value.possible_values.keys() %}{{ " " }}"{{ val }}"{%- if not loop.last %},{%- endif %}{% endfor -%}{{ " ]" }},
          "enumNames": [ {%- for val in value.possible_values.values() %}{{ " " }}"{{ val }}"{%- if not loop.last %},{%- endif %}{% endfor -%}{{ " ]" }},
    {%- if value.default  %}
          "default": "{{ value.default }}",
    {%- endif %}
    {%-  endif %}
          "ui": {{ value.ui.to_json() | indent(10)}}
        }{%- if not loop.last %},{%- endif %}
{%- endfor %}
      },
      "anyOf": [
{%- for rule in pkg.ui_config.rules %}
         {{ rule.to_json() | indent(10) }}{%- if not loop.last %},{%- endif %}
{%- endfor %}
        ],
      "steps": [
{%- for step in pkg.ui_config.steps %}
         {{ step.to_json() | indent(10) }}{%- if not loop.last %},{%- endif %}
{%- endfor %}
      ]
    }
