
        @classmethod
        # @validate_arguments()
        @init_guid
        def create(cls, *, name: str, adls_container_qualified_name: str) -> {{ entity_def.name }}.Attributes:
            validate_required_fields(
                ["name", "adls_container_qualified_name"], [name, adls_container_qualified_name]
            )

            # Split the qualified_name to extract necessary information
            fields = adls_container_qualified_name.split("/")
            if len(fields) != 5:
                raise ValueError("Invalid qualified_name")

            try:
                connector_type = AtlanConnectorType(fields[1])  # type:ignore
            except ValueError as e:
                raise ValueError("Invalid qualified_name") from e

            return {{ entity_def.name }}.Attributes(
                name=name,
                adls_container_qualified_name=adls_container_qualified_name,
                qualified_name=f"{adls_container_qualified_name}/{name}",
                connection_qualified_name=f"{fields[0]}/{fields[1]}/{fields[2]}",
                connector_name=connector_type.value,
                adls_container=ADLSContainer.ref_by_qualified_name(adls_container_qualified_name),
            )
