
        @classmethod
        @init_guid
        def create(
            cls, *, name: str, adls_container_qualified_name: str
        ) -> ADLSObject.Attributes:
            validate_required_fields(
                ["name", "adls_container_qualified_name"],
                [name, adls_container_qualified_name],
            )
            adls_account_qualified_name = get_parent_qualified_name(
                adls_container_qualified_name
            )
            connection_qn, connector_name = AtlanConnectorType.get_connector_name(
                adls_container_qualified_name, "adls_container_qualified_name", 5
            )
            return ADLSObject.Attributes(
                name=name,
                adls_container_qualified_name=adls_container_qualified_name,
                qualified_name=f"{adls_container_qualified_name}/{name}",
                connector_name=connector_name,
                connection_qualified_name=connection_qn,
                adls_container=ADLSContainer.ref_by_qualified_name(
                    adls_container_qualified_name
                ),
                adls_account_qualified_name=adls_account_qualified_name,
            )
