
        @classmethod
        @init_guid
        def create(
            cls,
            *,
            path_raw_uri: str,
            spec_qualified_name: str,
            connection_qualified_name: Optional[str] = None,
        ) -> APIPath.Attributes:
            validate_required_fields(
                ["path_raw_uri", "spec_qualified_name"],
                [path_raw_uri, spec_qualified_name],
            )
            if connection_qualified_name:
                connector_name = AtlanConnectorType.get_connector_name(
                    connection_qualified_name
                )
            else:
                connection_qn, connector_name = AtlanConnectorType.get_connector_name(
                    spec_qualified_name, "spec_qualified_name", 4
                )

            return APIPath.Attributes(
                api_path_raw_u_r_i=path_raw_uri,
                name=path_raw_uri,
                api_spec_qualified_name=spec_qualified_name,
                connector_name=connector_name,
                connection_qualified_name=connection_qualified_name or connection_qn,
                qualified_name=f"{spec_qualified_name}{path_raw_uri}",
                api_spec=APISpec.ref_by_qualified_name(spec_qualified_name),
            )
