
        @staticmethod
        def _generate_config_arguments_raw(
            *,
            is_alert_enabled: bool = True,
            custom_sql: Optional[str] = None,
            display_name: Optional[str] = None,
            dimension: Optional[alpha_DQDimension] = None,
            compare_operator: alpha_DQRuleThresholdCompareOperator,
            threshold_value: int,
            threshold_unit: Optional[alpha_DQRuleThresholdUnit] = None,
            column: Optional[Asset] = None,
            dq_priority: alpha_DQRuleAlertPriority,
            description: Optional[str] = None,
        ) -> str:
            config = {
                "isAlertEnabled": is_alert_enabled,
                "alpha_dqRuleTemplateConfigThresholdObject": {
                    "alpha_dqRuleTemplateConfigThresholdCompareOperator": compare_operator,
                    "alpha_dqRuleTemplateConfigThresholdValue": threshold_value,
                    "alpha_dqRuleTemplateConfigThresholdUnit": threshold_unit,
                },
                "alpha_dqRuleTemplateAdvancedSettings.dqPriority": dq_priority,
            }

            if column is not None:
                config["alpha_dqRuleTemplateConfigBaseColumnQualifiedName"] = (
                    column.qualified_name
                )

            if description is not None:
                config["alpha_dqRuleTemplateConfigUserDescription"] = description

            if custom_sql is not None:
                config["alpha_dqRuleTemplateConfigCustomSQL"] = custom_sql

            if display_name is not None:
                config["alpha_dqRuleTemplateConfigDisplayName"] = display_name

            if dimension is not None:
                config["alpha_dqRuleTemplateConfigDimension"] = dimension

            return json.dumps(config)

        @staticmethod
        def _generate_uuid():
            d = int(time.time() * 1000)
            random_bytes = uuid.uuid4().bytes
            rand_index = 0

            def replace_char(c):
                nonlocal d, rand_index
                r = (d + random_bytes[rand_index % 16]) % 16
                rand_index += 1
                d = d // 16
                if c == "x":
                    return hex(r)[2:]
                elif c == "y":
                    return hex((r & 0x3) | 0x8)[2:]  # y -> 8 to b
                else:
                    return c

            template = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx"
            uuid_str = "".join(replace_char(c) if c in "xy" else c for c in template)
            return uuid_str

        @classmethod
        @init_guid
        def creator(
            cls,
            *,
            client: AtlanClient,
            rule_name: str,
            rule_type: str,
            asset: Asset,
            threshold_compare_operator: alpha_DQRuleThresholdCompareOperator,
            threshold_value: int,
            alert_priority: alpha_DQRuleAlertPriority,
            column: Optional[Asset] = None,
            threshold_unit: Optional[alpha_DQRuleThresholdUnit] = None,
            dimension: Optional[alpha_DQDimension] = None,
            custom_sql: Optional[str] = None,
            description: Optional[str] = None,
        ) -> alpha_DQRule.Attributes:
            template_config = client.dq_template_config_cache.get_template_config(
                rule_type
            )

            if template_config is None:
                raise ErrorCode.DQ_RULE_NOT_FOUND.exception_with_parameters(rule_type)

            template_rule_name = template_config.get("name")
            template_qualified_name = template_config.get("qualified_name")

            if dimension is None:
                dimension = template_config.get("dimension")

            if threshold_unit is None:
                config = template_config.get("config")
                if config is not None:
                    threashold_object = (
                        config.alpha_dq_rule_template_config_threshold_object
                    )
                    threashold_object_json = json.loads(threashold_object)
                    properties = threashold_object_json.get("properties", {})
                    threshold_unit_field = properties.get(
                        "alpha_dqRuleTemplateConfigThresholdUnit", {}
                    )
                    default_value = threshold_unit_field.get("default")
                    threshold_unit = default_value

            config_arguments_raw = (
                alpha_DQRule.Attributes._generate_config_arguments_raw(
                    is_alert_enabled=True,
                    custom_sql=custom_sql,
                    display_name=rule_name,
                    dimension=dimension,
                    compare_operator=threshold_compare_operator,
                    threshold_value=threshold_value,
                    threshold_unit=threshold_unit,
                    column=column,
                    dq_priority=alert_priority,
                    description=description,
                )
            )

            attr_dq = alpha_DQRule.Attributes(
                name="",
                alpha_dq_rule_config_arguments=alpha_DQRuleConfigArguments(
                    alpha_dq_rule_threshold_object=alpha_DQRuleThresholdObject(
                        alpha_dq_rule_threshold_compare_operator=threshold_compare_operator,
                        alpha_dq_rule_threshold_value=threshold_value,
                        alpha_dq_rule_threshold_unit=threshold_unit,
                    ),
                    alpha_dq_rule_config_arguments_raw=config_arguments_raw,
                ),
                alpha_dq_rule_base_dataset_qualified_name=asset.qualified_name,
                alpha_dq_rule_alert_priority=alert_priority,
                alpha_dq_rule_source_sync_status=alpha_DQSourceSyncStatus.IN_PROGRESS,
                alpha_dq_rule_status=alpha_DQRuleStatus.ACTIVE,
                alpha_dq_rule_base_dataset=asset,
                qualified_name=f"{asset.qualified_name}/rule/{str(cls._generate_uuid())}",
                alpha_dq_rule_dimension=dimension,
                alpha_dq_rule_template_name=template_rule_name,
                alpha_dq_rule_template=alpha_DQRuleTemplate.ref_by_qualified_name(
                    qualified_name=template_qualified_name  # type: ignore
                ),
            )

            if column is not None:
                attr_dq.alpha_dq_rule_base_column_qualified_name = column.qualified_name
                attr_dq.alpha_dq_rule_base_column = column  # type: ignore

            if custom_sql is not None:
                attr_dq.alpha_dq_rule_custom_s_q_l = custom_sql
                attr_dq.display_name = rule_name
                if description is not None:
                    attr_dq.user_description = description

            return attr_dq
