
        @classmethod
        @init_guid
        def create(
            cls,
            *,
            name: StrictStr,
            anchor: Optional[AtlasGlossary] = None,
            glossary_qualified_name: Optional[StrictStr] = None,
            glossary_guid: Optional[StrictStr] = None,
            categories: Optional[List[AtlasGlossaryCategory]] = None,
        ) -> AtlasGlossaryTerm.Attributes:
            validate_required_fields(["name"], [name])
            validate_single_required_field(
                ["anchor", "glossary_qualified_name", "glossary_guid"],
                [anchor, glossary_qualified_name, glossary_guid],
            )

            ref_anchor = None
            if anchor:
                ref_anchor = anchor.trim_to_reference()
            elif glossary_qualified_name:
                ref_anchor = AtlasGlossary.ref_by_qualified_name(
                    qualified_name=glossary_qualified_name
                )
            elif glossary_guid:
                ref_anchor = AtlasGlossary.ref_by_guid(guid=glossary_guid)

            return AtlasGlossaryTerm.Attributes(
                name=name,
                anchor=ref_anchor,
                categories=categories,
                qualified_name=next_id(),
            )
