
        @classmethod
        @init_guid
        def create(
                cls,
                *,
                name: str,
                cognite_asset_qualified_name: str,
                connection_qualified_name: Optional[str] = None,
        ) -> Cognite3DModel.Attributes:
            validate_required_fields(
                ["name", "cognite_asset_qualified_name"],
                [name, cognite_asset_qualified_name],
            )
            if connection_qualified_name:
                connector_name = AtlanConnectorType.get_connector_name(
                    connection_qualified_name
                )
            else:
                connection_qn, connector_name = AtlanConnectorType.get_connector_name(
                    cognite_asset_qualified_name,
                    "cognite_asset_qualified_name",
                    4,
                )

            return Cognite3DModel.Attributes(
                name=name,
                cognite_asset_qualified_name=cognite_asset_qualified_name,
                connection_qualified_name=connection_qualified_name or connection_qn,
                qualified_name=f"{cognite_asset_qualified_name}/{name}",
                connector_name=connector_name,
                cognite_asset=CogniteAsset.ref_by_qualified_name(
                    cognite_asset_qualified_name
                ),
            )
