
        @classmethod
        @init_guid
        def creator(
            cls,
            *,
            client: AtlanClient,
            name: str,
        ) -> Collection.Attributes:
            validate_required_fields(["client", "name"], [client, name])
            return Collection.Attributes(
                name=name,
                qualified_name=Collection._generate_qualified_name(client),
            )
