
        @validator("admin_users")
        def admin_users_valid(cls, admin_users):
            from pyatlan.cache.user_cache import UserCache

            UserCache.validate_names(names=admin_users)
            return admin_users

        @validator("admin_roles")
        def admin_roles_valid(cls, admin_roles):
            from pyatlan.cache.role_cache import RoleCache

            RoleCache.validate_idstrs(idstrs=admin_roles)
            return admin_roles

        @validator("admin_groups")
        def admin_groups_valid(cls, admin_groups):
            from pyatlan.cache.group_cache import GroupCache

            GroupCache.validate_names(names=admin_groups)
            return admin_groups
