
        @classmethod
        @init_guid
        def create(
            cls,
            *,
            name: StrictStr,
            parent_domain_qualified_name: Optional[StrictStr] = None,
        ) -> DataDomain.Attributes:
            validate_required_fields(["name"], [name])
            parent_domain = None
            super_domain_qualified_name = None

            # In case of sub-domain
            if parent_domain_qualified_name:
                parent_domain = DataDomain.ref_by_qualified_name(
                    parent_domain_qualified_name
                )
                super_domain_qualified_name = DataMesh.get_super_domain_qualified_name(
                    parent_domain_qualified_name
                )

            return DataDomain.Attributes(
                name=name,
                qualified_name=name,
                parent_domain=parent_domain,
                parent_domain_qualified_name=parent_domain_qualified_name,
                super_domain_qualified_name=super_domain_qualified_name,
            )
