
        @classmethod
        @init_guid
        def creator(
            cls,
            *,
            name: str,
            collection_qualified_name: str,
            parent_folder_qualified_name: Optional[str] = None,
        ) -> Folder.Attributes:
            from pyatlan.model.assets import Collection

            validate_required_fields(
                ["name", "collection_qualified_name"], [name, collection_qualified_name]
            )

            if not parent_folder_qualified_name:
                qualified_name = f"{collection_qualified_name}/{name}"
                parent_qn = collection_qualified_name
                parent = Collection.ref_by_qualified_name(collection_qualified_name)

            else:
                qualified_name = f"{parent_folder_qualified_name}/{name}"
                parent_qn = parent_folder_qualified_name
                parent = Folder.ref_by_qualified_name(parent_folder_qualified_name)  # type: ignore[assignment]

            return Folder.Attributes(
                name=name,
                qualified_name=qualified_name,
                collection_qualified_name=collection_qualified_name,
                parent=parent,
                parent_qualified_name=parent_qn,
            )
