
        @classmethod
        # @validate_arguments()
        @init_guid
        def create(
            cls, *, asset: Asset, name: str, link: str
        ) -> Link.Attributes:
            validate_required_fields(["asset", "name", "link"], [asset, name, link])
            return Link.Attributes(
                qualified_name=str(uuid.uuid4()),
                name=name,
                link=link,
                asset=asset,
            )
