
        @classmethod
        @init_guid
        def create(
            cls, *, asset: Asset, name: str, link: str, idempotent: bool
        ) -> Link.Attributes:
            validate_required_fields(["asset", "name", "link"], [asset, name, link])
            qn = f"{asset.qualified_name}/{name}" if idempotent else str(uuid.uuid4())
            return Link.Attributes(
                qualified_name=qn,
                name=name,
                link=link,
                asset=asset.trim_to_reference(),
            )
