
        @classmethod
        @init_guid
        def create(cls, name: str, atlan_tags: List[AtlanTagName]) -> {{ entity_def.name }}.Attributes:
            validate_required_fields(["name", "atlan_tags"], [name, atlan_tags])
            return Purpose.Attributes(
                qualified_name=name,
                name=name,
                display_name=name,
                is_access_control_enabled=True,
                description="",
                purpose_atlan_tags=atlan_tags
            )
