
        @classmethod
        @init_guid
        def create(
            cls,
            *,
            name: str,
            connection_qualified_name: str,
            aws_arn: str,
            s3_bucket_name: str,
            s3_bucket_qualified_name: str,
        ) -> S3Object.Attributes:
            validate_required_fields(
                [
                    "name",
                    "connection_qualified_name",
                    "aws_arn",
                    "s3_bucket_name",
                    "s3_bucket_qualified_name",
                ],
                [
                    name,
                    connection_qualified_name,
                    aws_arn,
                    s3_bucket_name,
                    s3_bucket_qualified_name,
                ],
            )
            fields = connection_qualified_name.split("/")
            if len(fields) != 3:
                raise ValueError("Invalid connection_qualified_name")
            try:
                if fields[0].replace(" ", "") == "" or fields[2].replace(" ", "") == "":
                    raise ValueError("Invalid connection_qualified_name")
                connector_type = AtlanConnectorType(fields[1])  # type:ignore
                if connector_type != AtlanConnectorType.S3:
                    raise ValueError("Connector type must be S3")
            except ValueError as e:
                raise ValueError("Invalid connection_qualified_name") from e
            return S3Object.Attributes(
                aws_arn=aws_arn,
                name=name,
                connection_qualified_name=connection_qualified_name,
                qualified_name=f"{connection_qualified_name}/{aws_arn}",
                connector_name=connector_type.value,
                s3_bucket_name=s3_bucket_name,
                s3_bucket_qualified_name=s3_bucket_qualified_name,
                bucket=S3Bucket.ref_by_qualified_name(s3_bucket_qualified_name),
            )

        @classmethod
        @init_guid
        def create_with_prefix(
            cls,
            *,
            name: str,
            connection_qualified_name: str,
            s3_bucket_name: str,
            s3_bucket_qualified_name: str,
            prefix: str = "",
        ) -> S3Object.Attributes:
            validate_required_fields(
                [
                    "name",
                    "connection_qualified_name",
                    "s3_bucket_name",
                    "s3_bucket_qualified_name",
                ],
                [
                    name,
                    connection_qualified_name,
                    s3_bucket_name,
                    s3_bucket_qualified_name,
                ],
            )
            fields = connection_qualified_name.split("/")
            if len(fields) != 3:
                raise ValueError("Invalid connection_qualified_name")
            try:
                if fields[0].replace(" ", "") == "" or fields[2].replace(" ", "") == "":
                    raise ValueError("Invalid connection_qualified_name")
                connector_type = AtlanConnectorType(fields[1])  # type:ignore
                if connector_type != AtlanConnectorType.S3:
                    raise ValueError("Connector type must be S3")
            except ValueError as e:
                raise ValueError("Invalid connection_qualified_name") from e
            object_key = construct_object_key(prefix, name)
            return S3Object.Attributes(
                name=name,
                s3_object_key=object_key,
                connection_qualified_name=connection_qualified_name,
                # We should include `s3_bucket_name` to make it unique
                # and avoid duplicate `path/name` (object keys) in two different buckets
                # within the same connection.
                qualified_name=f"{connection_qualified_name}/{s3_bucket_name}/{object_key}",
                connector_name=connector_type.value,
                s3_bucket_name=s3_bucket_name,
                s3_bucket_qualified_name=s3_bucket_qualified_name,
                bucket=S3Bucket.ref_by_qualified_name(s3_bucket_qualified_name),
            )
