import time

from pyatlan.model.enums import (
    alpha_DQDimension,
    alpha_DQResult,
    alpha_DQRuleAlertPriority,
    alpha_DQRuleStatus,
    alpha_DQRuleThresholdCompareOperator,
    alpha_DQRuleThresholdUnit,
    alpha_DQSourceSyncStatus,
    alpha_dqRuleTemplateConfigRuleConditions,
)
from pyatlan.model.structs import (
    alpha_DQRuleConfigArguments,
    alpha_DQRuleThresholdObject,
)
