import time

from pyatlan.model.enums import (
    DataQualityDimension,
    DataQualityResult,
    DataQualityRuleAlertPriority,
    DataQualityRuleStatus,
    DataQualityRuleThresholdCompareOperator,
    DataQualityRuleThresholdUnit,
    DataQualitySourceSyncStatus,
    DataQualityRuleTemplateConfigRuleConditions,
)
from pyatlan.model.structs import (
    DataQualityRuleConfigArguments,
    DataQualityRuleThresholdObject,
)
