
    @overload
    @classmethod
    def creator(
        cls,
        *,
        name: str,
        adls_container_qualified_name: str,
    ) -> ADLSObject: ...

    @overload
    @classmethod
    def creator(
        cls,
        *,
        name: str,
        adls_container_qualified_name: str,
        adls_account_qualified_name: str,
        connection_qualified_name: str,
    ) -> ADLSObject: ...

    @classmethod
    @init_guid
    def creator(
        cls,
        *,
        name: str,
        adls_container_qualified_name: str,
        adls_account_qualified_name: Optional[str] = None,
        connection_qualified_name: Optional[str] = None,
    ) -> ADLSObject:
        validate_required_fields(
            ["name", "adls_container_qualified_name"],
            [name, adls_container_qualified_name],
        )
        attributes = ADLSObject.Attributes.create(
            name=name,
            adls_container_qualified_name=adls_container_qualified_name,
            adls_account_qualified_name=adls_account_qualified_name,
            connection_qualified_name=connection_qualified_name,
        )
        return cls(attributes=attributes)

    @classmethod
    @init_guid
    def create(
        cls,
        *,
        name: str,
        adls_container_qualified_name: str,
    ) -> ADLSObject:
        warn(
            (
                "This method is deprecated, please use 'creator' "
                "instead, which offers identical functionality."
            ),
            DeprecationWarning,
            stacklevel=2,
        )
        return cls.creator(
            name=name, adls_container_qualified_name=adls_container_qualified_name
        )
