
    @classmethod
    @init_guid
    def creator(cls, *, name: str, connection_qualified_name: str) -> AzureEventHub:
        validate_required_fields(
            ["name", "connection_qualified_name"], [name, connection_qualified_name]
        )
        attributes = AzureEventHub.Attributes.creator(
            name=name, connection_qualified_name=connection_qualified_name
        )
        return cls(attributes=attributes)
