
    @classmethod
    @init_guid
    def creator(
        cls,
        *,
        client: AtlanClient,
        name: StrictStr,
        cm_name: str,
        cm_attribute: str,
        badge_conditions: List[BadgeCondition],
    ) -> Badge:
        return cls(
            status=EntityStatus.ACTIVE,
            attributes=Badge.Attributes.create(
                client=client,
                name=name,
                cm_name=cm_name,
                cm_attribute=cm_attribute,
                badge_conditions=badge_conditions,
            ),
        )

    @classmethod
    @init_guid
    async def creator_async(
        cls,
        *,
        client: AsyncAtlanClient,
        name: StrictStr,
        cm_name: str,
        cm_attribute: str,
        badge_conditions: List[BadgeCondition],
    ) -> Badge:
        return cls(
            status=EntityStatus.ACTIVE,
            attributes=await Badge.Attributes.create_async(
                client=client,
                name=name,
                cm_name=cm_name,
                cm_attribute=cm_attribute,
                badge_conditions=badge_conditions,
            ),
        )

    @classmethod
    @init_guid
    def create(
        cls,
        *,
        client: AtlanClient,
        name: StrictStr,
        cm_name: str,
        cm_attribute: str,
        badge_conditions: List[BadgeCondition],
    ) -> Badge:
        warn(
            (
                "This method is deprecated, please use 'creator' "
                "instead, which offers identical functionality."
            ),
            DeprecationWarning,
            stacklevel=2,
        )
        return cls.creator(
            client=client,
            name=name,
            cm_name=cm_name,
            cm_attribute=cm_attribute,
            badge_conditions=badge_conditions,
        )
