
    @overload
    @classmethod
    def creator(
            cls,
            *,
            name: str,
            cognite_asset_qualified_name: str,
    ) -> CogniteTimeSeries:
        ...

    @overload
    @classmethod
    def creator(
            cls,
            *,
            name: str,
            cognite_asset_qualified_name: str,
            connection_qualified_name: str,
    ) -> CogniteTimeSeries:
        ...

    @classmethod
    @init_guid
    def creator(
            cls,
            *,
            name: str,
            cognite_asset_qualified_name: str,
            connection_qualified_name: Optional[str] = None,
    ) -> CogniteTimeSeries:
        validate_required_fields(
            ["name", "cognite_asset_qualified_name"],
            [name, cognite_asset_qualified_name],
        )
        attributes = CogniteTimeSeries.Attributes.create(
            name=name,
            cognite_asset_qualified_name=cognite_asset_qualified_name,
            connection_qualified_name=connection_qualified_name,
        )
        return cls(attributes=attributes)

    @classmethod
    @init_guid
    def create(
            cls, *, name: str, cognite_asset_qualified_name: str
    ) -> CogniteTimeSeries:
        warn(
            (
                "This method is deprecated, please use 'creator' "
                "instead, which offers identical functionality."
            ),
            DeprecationWarning,
            stacklevel=2,
        )
        return cls.creator(
            name=name,
            cognite_asset_qualified_name=cognite_asset_qualified_name,
        )
