
    @classmethod
    # @validate_arguments()
    @init_guid
    def create(cls, *, name: StrictStr, icon: Optional[AtlanIcon] = None)->{{ entity_def.name }}:
        validate_required_fields(["name"], [name])
        return DataDomain(attributes=DataDomain.Attributes.create(name=name, icon=icon))
