
    @classmethod
    # @validate_arguments()
    @init_guid
    def create(
        cls, *, name: str, connection_qualified_name: str, aws_arn: str
    ) -> {{ entity_def.name }}:
        validate_required_fields(
            ["name", "connection_qualified_name", "aws_arn"],
            [name, connection_qualified_name, aws_arn],
        )
        attributes = {{ entity_def.name }}.Attributes.create(
            name=name, connection_qualified_name=connection_qualified_name, aws_arn=aws_arn
        )
        return cls(attributes=attributes)
