
    @classmethod
    @init_guid
    def creator(
        cls, *, name: str, skill_qualified_name: str, file_type: FileType
    ) -> SkillArtifact:
        validate_required_fields(
            ["name", "skill_qualified_name", "file_type"],
            [name, skill_qualified_name, file_type],
        )
        return SkillArtifact(
            attributes=SkillArtifact.Attributes.creator(
                name=name,
                skill_qualified_name=skill_qualified_name,
                file_type=file_type,
            )
        )
