# Copyright 2022 Atlan Pte. Ltd.
# isort: skip_file
{% for asset_import in asset_imports -%}
{{ asset_import }}
{% endfor %}

# Update asset forward references:
localns = locals()
{%- for asset_name in asset_names %}
{{ asset_name }}.Attributes.update_forward_refs(**localns)
{%- endfor %}
