
    def __setattr__(self, name, value):
            if name in {{ entity_def.name }}._convenience_properties:
                return object.__setattr__(self, name, value)
            super().__setattr__( name, value)

    {%- if entity_def.name != "Referenceable" %}
    {{ gen_property_class_vars(entity_def.name, entity_def.attribute_defs) }}
    {{ gen_property_relationship_class_vars(entity_def.name, entity_def.relationship_attribute_defs) }}
    {%- endif %}

    {{ gen_properties(entity_def, (entity_def.attribute_defs + entity_def.relationship_attribute_defs)) }}
