# SPDX-License-Identifier: Apache-2.0
# Copyright 2023 Atlan Pte. Ltd.
name: "Merge"

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    name: "Sphinx"
    steps:
      - name: Build Sphinx
        id: deployment
        uses: sphinx-notes/pages@v3
        with:
          publish: false
      - name: Publish Sphinx
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ steps.deployment.outputs.artifact }}
