name: Pyatlan Test Cron Job Build

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *' # At 01:00 Daily

jobs:
  build:
    concurrency: integration_tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

      - name: QA checks (black, flake8, mypy)
        run: |
          ./qa-checks

      - name: Test with pytest
        env: # Or as an environment variable
          ATLAN_API_KEY: ${{ secrets.ATLAN_API_KEY }}
          ATLAN_BASE_URL: ${{ secrets.ATLAN_BASE_URL }}
          MARK_API_KEY: ${{ secrets.MARK_ATLAN_API_KEY }}
          MARK_BASE_URL: https://mark.atlan.com
        # Run the integration test suite using the `pytest-timer` plugin
        # to display only the durations of the 25 slowest tests
        run: |
          pytest tests/unit
          pytest tests/integration --ignore tests/integration/data_mesh_test.py -p name_of_plugin --timer-top-n 25
